make/flow-a-blueprint.json
{
  "name": "Flow A — RSS Quellen → Google Sheets Staging",
  "flow": [
    {
      "id": 1,
      "module": "gateway:CustomWebHook",
      "version": 1,
      "parameters": {
        "hook": 0,
        "maxResults": 1
      },
      "mapper": {},
      "metadata": {
        "designer": { "x": 0, "y": 0 },
        "restore": { "hook": { "label": "Täglich 08:00 (Scheduler)" } }
      }
    },
    {
      "id": 2,
      "module": "rss:listItems",
      "version": 1,
      "parameters": {},
      "mapper": {
        "url": "https://www.ar.ch/rss/nachrichten.xml",
        "limit": "20"
      },
      "metadata": {
        "designer": { "x": 300, "y": -100 },
        "restore": {}
      }
    },
    {
      "id": 3,
      "module": "rss:listItems",
      "version": 1,
      "parameters": {},
      "mapper": {
        "url": "https://www.speicher.ar.ch/rss",
        "limit": "20"
      },
      "metadata": {
        "designer": { "x": 300, "y": 0 },
        "restore": {}
      }
    },
    {
      "id": 4,
      "module": "rss:listItems",
      "version": 1,
      "parameters": {},
      "mapper": {
        "url": "https://www.admin.ch/gov/de/start/dokumentation/medienmitteilungen.rss.html",
        "limit": "10"
      },
      "metadata": {
        "designer": { "x": 300, "y": 100 },
        "restore": {}
      }
    },
    {
      "id": 5,
      "module": "google-sheets:addRow",
      "version": 2,
      "parameters": {
        "spreadsheetId": "REPLACE_WITH_SHEET_ID",
        "sheetId": "Staging",
        "includesHeaders": true
      },
      "mapper": {
        "Datum": "{{formatDate(2.pubDate; \"DD.MM.YYYY\")}}",
        "Quelle": "Amtsblatt AR",
        "Titel": "{{2.title}}",
        "Text": "{{2.description}}",
        "Link": "{{2.url}}",
        "Bild-URL": "",
        "Sektion": "amtsblatt",
        "Freigabe": "OFFEN"
      },
      "metadata": {
        "designer": { "x": 600, "y": -100 },
        "restore": {
          "spreadsheetId": { "label": "Speicher direkt — Redaktion" },
          "sheetId": { "label": "Staging" }
        }
      }
    },
    {
      "id": 6,
      "module": "google-sheets:addRow",
      "version": 2,
      "parameters": {
        "spreadsheetId": "REPLACE_WITH_SHEET_ID",
        "sheetId": "Staging",
        "includesHeaders": true
      },
      "mapper": {
        "Datum": "{{formatDate(3.pubDate; \"DD.MM.YYYY\")}}",
        "Quelle": "Gemeinde Speicher",
        "Titel": "{{3.title}}",
        "Text": "{{3.description}}",
        "Link": "{{3.url}}",
        "Bild-URL": "",
        "Sektion": "gemeinderat",
        "Freigabe": "OFFEN"
      },
      "metadata": {
        "designer": { "x": 600, "y": 0 },
        "restore": {
          "spreadsheetId": { "label": "Speicher direkt — Redaktion" },
          "sheetId": { "label": "Staging" }
        }
      }
    },
    {
      "id": 7,
      "module": "google-sheets:addRow",
      "version": 2,
      "parameters": {
        "spreadsheetId": "REPLACE_WITH_SHEET_ID",
        "sheetId": "Staging",
        "includesHeaders": true
      },
      "mapper": {
        "Datum": "{{formatDate(4.pubDate; \"DD.MM.YYYY\")}}",
        "Quelle": "admin.ch",
        "Titel": "{{4.title}}",
        "Text": "{{4.description}}",
        "Link": "{{4.url}}",
        "Bild-URL": "",
        "Sektion": "abstimmung",
        "Freigabe": "OFFEN"
      },
      "metadata": {
        "designer": { "x": 600, "y": 100 },
        "restore": {
          "spreadsheetId": { "label": "Speicher direkt — Redaktion" },
          "sheetId": { "label": "Staging" }
        }
      }
    }
  ],
  "metadata": {
    "instant": false,
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": false,
      "confidential": false,
      "dataloss": false,
      "dlq": false
    },
    "designer": {
      "orphans": []
    },
    "zone": "eu1.make.com"
  }
}
