make/flow-a-blueprint.json
{
  "name": "Flow A — RSS Quellen → Google Sheets Staging",
  "flow": [
    {
      "id": 1,
      "module": "rss:listItems",
      "version": 1,
      "parameters": {},
      "mapper": {
        "url": "https://www.ar.ch/rss/nachrichten.xml",
        "limit": "20"
      },
      "metadata": {
        "designer": { "x": 0, "y": -150 }
      }
    },
    {
      "id": 2,
      "module": "rss:listItems",
      "version": 1,
      "parameters": {},
      "mapper": {
        "url": "https://www.speicher.ar.ch/rss",
        "limit": "20"
      },
      "metadata": {
        "designer": { "x": 0, "y": 0 }
      }
    },
    {
      "id": 3,
      "module": "rss:listItems",
      "version": 1,
      "parameters": {},
      "mapper": {
        "url": "https://www.admin.ch/gov/de/start/dokumentation/medienmitteilungen.rss.html",
        "limit": "10"
      },
      "metadata": {
        "designer": { "x": 0, "y": 150 }
      }
    },
    {
      "id": 4,
      "module": "google-sheets:addRow",
      "version": 2,
      "parameters": {
        "spreadsheetId": "1u7V1YSnXRq86kOicHeZYFYQKN5diVLLfpPUR17MdW_A",
        "sheetId": "Staging",
        "includesHeaders": true,
        "searchMethod": "id",
        "drive": "MyDrive"
      },
      "mapper": {
        "Datum": "{{formatDate(1.pubDate; \"DD.MM.YYYY\")}}",
        "Quelle": "Amtsblatt AR",
        "Titel": "{{1.title}}",
        "Text": "{{1.description}}",
        "Link": "{{1.url}}",
        "Bild-URL": "",
        "Sektion": "amtsblatt",
        "Freigabe": "OFFEN"
      },
      "metadata": {
        "designer": { "x": 300, "y": -150 }
      }
    },
    {
      "id": 5,
      "module": "google-sheets:addRow",
      "version": 2,
      "parameters": {
        "spreadsheetId": "1u7V1YSnXRq86kOicHeZYFYQKN5diVLLfpPUR17MdW_A",
        "sheetId": "Staging",
        "includesHeaders": true,
        "searchMethod": "id",
        "drive": "MyDrive"
      },
      "mapper": {
        "Datum": "{{formatDate(2.pubDate; \"DD.MM.YYYY\")}}",
        "Quelle": "Gemeinde Speicher",
        "Titel": "{{2.title}}",
        "Text": "{{2.description}}",
        "Link": "{{2.url}}",
        "Bild-URL": "",
        "Sektion": "gemeinderat",
        "Freigabe": "OFFEN"
      },
      "metadata": {
        "designer": { "x": 300, "y": 0 }
      }
    },
    {
      "id": 6,
      "module": "google-sheets:addRow",
      "version": 2,
      "parameters": {
        "spreadsheetId": "1u7V1YSnXRq86kOicHeZYFYQKN5diVLLfpPUR17MdW_A",
        "sheetId": "Staging",
        "includesHeaders": true,
        "searchMethod": "id",
        "drive": "MyDrive"
      },
      "mapper": {
        "Datum": "{{formatDate(3.pubDate; \"DD.MM.YYYY\")}}",
        "Quelle": "admin.ch",
        "Titel": "{{3.title}}",
        "Text": "{{3.description}}",
        "Link": "{{3.url}}",
        "Bild-URL": "",
        "Sektion": "abstimmung",
        "Freigabe": "OFFEN"
      },
      "metadata": {
        "designer": { "x": 300, "y": 150 }
      }
    }
  ],
  "metadata": {
    "instant": false,
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": false,
      "confidential": false,
      "dataloss": false,
      "dlq": false
    },
    "designer": { "orphans": [] },
    "zone": "eu1.make.com"
  }
}
